.WholeProflePage {
  display: flex;
  height: 100%;
  flex-direction: column;
  align-items: center;
  background-color: #fafafa;
}
.LoaderContainer {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  padding-top: 40%;
}

.loader {
  margin-top: 10%;
}

.FailurePage {
  width: 100%;
  height: 80%;
  margin-top: 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
